<div id="topHalf">
    <div id="countdown">
        <div id="countdown-number"></div>
    </div>
    <div id="hints">
        <div class="hint clickable" id="fifty-fifty">
        </div>
        <div class="hint clickable" id="friend-call">
        </div>
    </div>
    <ul id="steps">
        <li class="text step" id="step15">15. 1 000 000</li>
        <li class="text step" id="step14">14. 500 000</li>
        <li class="text step" id="step13">13. 250 000</li>
        <li class="text step" id="step12">12. 128 000</li>
        <li class="text step" id="step11">11. 64 000</li>
        <li class="text step" id="step10">10. 32 000</li>
        <li class="text step" id="step9">9.&nbsp;&nbsp;16 000</li>
        <li class="text step" id="step8">8.&nbsp;&nbsp;8 000</li>
        <li class="text step" id="step7">7.&nbsp;&nbsp;4 000</li>
        <li class="text step" id="step6">6.&nbsp;&nbsp;2 000</li>
        <li class="text step" id="step5">5.&nbsp;&nbsp;1 000</li>
        <li class="text step" id="step4">4.&nbsp;&nbsp;500</li>
        <li class="text step" id="step3">3.&nbsp;&nbsp;300</li>
        <li class="text step" id="step2">2.&nbsp;&nbsp;200</li>
        <li class="text step" id="step1">1.&nbsp;&nbsp;100</li>
    </ul>
</div>
<div id="bottomHalf">
    <div id="question">
        <div id="questionTextDiv">
            <p class="text" id="questionText"></p>
        </div>
        <div id="answers">
            <div id="AButton" class='answer clickable'>
                <p class="letter" id="letterA">A:</p>
                <img class="answerImg" id="A" src="/public/images/black.png" alt="A">
                <p class="answerText" id="AAnswerText"></p>
            </div>
            <div id="BButton" class='answer clickable'>
                <p class="letter" id="letterB">B:</p>
                <img class="answerImg" id="B" src="/public/images/black.png" alt="B">
                <p class="answerText" id="BAnswerText"></p>
            </div>
            <div id="CButton" class='answer clickable'>
                <p class="letter" id="letterC">C:</p>
                <img class="answerImg" id="C" src="/public/images/black.png" alt="C">
                <p class="answerText" id="CAnswerText"></p>
            </div>
            <div id="DButton" class='answer clickable'>
                <p class="letter" id="letterD">D:</p>
                <img class="answerImg" id="D" src="/public/images/black.png" alt="D">
                <p class="answerText" id="DAnswerText"></p>
            </div>
        </div>
    </div>
</div>
<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-body">
            <h1 id="friendCallTitle">Звонок другу</h1>
            <p id="friendCallText">Содержимое модального окна...</p>
        </div>
        <div id="close">
            <button id="closeFriendCallButton" class="clickable" onclick="friendCallWindow.style.display = 'none'">Закрыть</button>
        </div>
    </div>
</div>



<script src="../public/js/game.js"></script>