<div id="timer"></div>
<div id="hints">
    <div id="fifty-fifty">50/50</div>
    <div id="friend-call">Call friend</div>
</div>
<div class="scoreContainer">Score:
    <div id="score">0</div>
</div>
<div id="question">
    <p id="questionText"></p>
</div>
<div id="answers">
    <button id="AButton" class='Answer' name="answer" value="A">
        <img id="A" src="/static/images/black.png">
        <p id="AanswerText"></p>
    </button>
    <button id="BButton" class='Answer' name="answer" value="B">
        <img id="B" src="/static/images/black.png">
        <p id="BanswerText"></p>
    </button>
    <button id="CButton" class='Answer' name="answer" src="/static/images/black.png" value="C">
        <img id="C" src="/static/images/black.png">
        <p id="CanswerText"></p>
    </button>
    <button id="DButton" class='Answer' name="answer" src="/static/images/black.png" value="D">
        <img id="D" src="/static/images/black.png">
        <p id="DanswerText"></p>
    </button>
</div>

<script src="static/js/game.js"></script>