<div class="gigaRuleBlock">
    ОСНОВНАЯ ИНФОРМАЦИЯ
</div>
<div class="ruleBlock">
    <div style="margin-left: 10px">
        <strong ><ins>Кто хочет стать миллионером</ins></strong> - телеигра, в которой каждый участник может выиграть до миллиона рублей, ответив правильно на 15 вопросов из различных областей знаний.<br>
        Сайт представляет собой упрощенную автоматизированную версию игры для одного участника без реального выигрыша.
    </div>
</div>
<div class="gigaRuleBlock">
    ПРАВИЛА ИГРЫ
</div>
<div class="ruleBlock">
    <div style="margin-left: 10px">
        Участнику по очереди задаются <strong><ins>15 вопросов</ins></strong> возрастающей сложности <strong><ins>с 4 вариантами ответа</ins></strong>, среди которых только <strong><ins>один верный</ins></strong>. <br>
        Все вопросы имеют цену в <strong><ins>очках</ins></strong>, соответствующую их сложности (чем сложнее вопрос, тем он дороже). <br>
        Над ответом на каждый можно думать не более <strong><ins>30 секунд</ins></strong>. Если дан <strong><ins>неверный ответ</ins></strong> или <strong><ins>истекает время</ins></strong>, <strong><ins>игра заканчивается</ins></strong>. <br>
        Если участник отвечает верно на 15 вопросов, он <strong><ins>побеждает</ins></strong> и получает наибольшую награду - 1000000 очков. <br>
        В начале игры есть возможность указать номер вопроса с <strong><ins>несгораемой суммой</ins></strong>: если участник проиграет, но до этого ответит верно на выбранный вопрос, то сохранит полученные за этот же вопрос очки. <br>
        Если участник <strong><ins>не отвечает на вопрос с несгораемой суммой</ins></strong> или <strong><ins>не доходит до него</ins></strong>, то <strong><ins>финальный счет равен 0</ins></strong>. <br>
        В рамках 30 секунд ответа на вопрос у участника есть возможность воспользоваться <strong><ins>подсказками</ins></strong>: <br>
        1.<strong><ins>50 на 50</ins></strong> - вместо 4 вариантов ответа остаются лишь 2, среди которых по-прежнему есть верный. <br>
        2.<strong><ins>Звонок другу</ins></strong> - участник обращается за помощью к искусственному интеллекту Леонидасу, который высказывает свое необязательно верное мнение об ответе на вопрос. <br>
                                <strong><ins>Каждую подсказку можно применить лишь один раз за игру!</ins></strong>
    </div>
</div>
<div class="gigaRuleBlock">
    КАК НАЧАТЬ ИГРАТЬ
</div>
<div class="ruleBlock">
    <div style="margin-left: 10px">
        Для того чтобы чтобы начать игру <strong><ins>введите имя</ins></strong>, которое будет отображаться в таблице лидеров с вашим рекордом, <strong><ins>укажите номер вопроса с несгораемой суммой</ins></strong> и <strong><ins>нажмите "начать игру"</ins></strong>
    </div>
</div>
<div class="gigaRuleBlock">
    ПРОЦЕСС ИГРЫ
</div>
<div class="ruleBlock">
    <div style="margin-left: 10px">
        По центру страницы расположен <strong><ins>вопрос</ins></strong>, на который нужно ответить. Ниже расположены <strong><ins>4 кнопки с вариантами ответа</ins></strong>, отмеченные буквами A, B, C и D. <br>
        Для выбора <strong><ins>ответа</ins></strong>, который Вы считаете верным, <strong><ins>нажмите на соответствующую кнопку</ins></strong>, и она <strong><ins>загорится оранжевым</ins></strong>. Через небольшой промежуток времени <strong><ins>правильный ответ загорится зеленым</ins></strong>. <br>
        Если вы выбрали правильный ответ, то увидите следующий вопрос. Если вы ошиблись, у вас есть возможность увидеть свой <strong><ins>итоговый счет</ins></strong>, посмотреть <strong><ins>таблицу лидеров</ins></strong> или вернуться в <strong><ins>меню</ins></strong>. <br>
        Над вопросом находятся кнопки, отвечающие за <strong><ins>подсказки</ins></strong>. Слева от них находится <strong><ins>таймер</ins></strong>, показывающий оставшееся время на вопрос, а справа - <strong><ins>шкала прогресса</ins></strong>. <br>
                    <strong><ins>В случае победы напишите че будет я ни разу не доходил да и не охота чутчут там вопросы сложные</ins></strong>
    </div>
</div>
<br>
<button class="pageButton" onclick="location.href = '/start'">Перейти в стартовое меню</button>