<gigaRuleBlock>
    ОСНОВНАЯ ИНФОРМАЦИЯ
</gigaRuleBlock>
<ruleblock>
    Кто хочет стать миллионером - телеигра, в которой каждый участник может выиграть до миллиона рублей, ответив правильно на 15 вопросов из различных областей знаний.<br>
    Сайт представляет собой упрощенную автоматизированную версию игры для одного участника без реального выигрыша.
</ruleblock>
<gigaRuleBlock>
    ПРАВИЛА ИГРЫ
</gigaRuleBlock>
<ruleblock>
    Участнику по очереди задаются 15 вопросов возрастающей сложности с 4 вариантами ответа, среди которых только один верный. <br>
    Все вопросы имеют цену в очках, соответствующую их сложности (чем сложнее вопрос, тем он дороже). <br>
    Над ответом на каждый можно думать не более 30 секунд. Если дан неверный ответ или истекает время, игра заканчивается. <br>
    Если участник отвечает верно на 15 вопросов, он побеждает и получает наибольшую награду - 1000000 очков. <br>
    В начале игры есть возможность указать номер вопроса с несгораемой суммой: если участник проиграет, но до этого ответит верно на выбранный вопрос, то сохранит полученные за этот же вопрос очки. <br>
    Если участник не отвечает на вопрос с несгораемой суммой или не доходит до него, то финальный счет равен 0. <br>
    В рамках 30 секунд ответа на вопрос у участника есть возможность воспользоваться подсказками: <br>
    1.50 на 50 - вместо 4 вариантов ответа остаются лишь 2, среди которых по-прежнему есть верный. <br>
    2.Звонок другу - участник обращается за помощью к искусственному интеллекту Леонидасу, который высказывает свое необязательно верное мнение об ответе на вопрос. <br>
    Каждую подсказку можно применить лишь один раз за игру!
</ruleblock>
<gigaRuleBlock>
    КАК НАЧАТЬ ИГРАТЬ
</gigaRuleBlock>
<ruleblock>
    Для того чтобы чтобы начать игру введите имя, которое будет отображаться в таблице лидеров с вашим рекордом, укажите номер вопроса с несгораемой суммой и нажмите "начать игру"
</ruleblock>
<gigaRuleBlock>
    ПРОЦЕСС ИГРЫ
</gigaRuleBlock>
<ruleblock>
    По центру страницы расположен вопрос, на который нужно ответить. Ниже расположены 4 кнопки с вариантами ответа, отмеченные буквами A, B, C и D. <br>
    Для выбора ответа, который Вы считаете верным, нажмите на соответствующую кнопку, и она загорится оранжевым. Через небольшой промежуток времени правильный ответ загорится зеленым. <br>
    Если вы выбрали правильный ответ, то увидите следующий вопрос. Если вы ошиблись, у вас есть возможность увидеть свой итоговый счет, посмотреть таблицу лидеров или вернуться в меню. <br>
    Над вопросом находятся кнопки, отвечающие за подсказки. Слева от них находится таймер, показывающий оставшееся время на вопрос, а справа - шкала прогресса. <br>
    В случае победы напишите че будет я ни разу не доходил да и не охота чутчут там вопросы сложные
</ruleblock>
<br>
<button onclick="location.href = '/start'">Перейти в стартовое меню</button>