<ul class="leaderboard">
    {{#each items}}
        <li>
            <p class="leaderboard_line">{{name}} {{score}}</p>
        </li>
    {{/each}}
</ul>
<button onclick="location.href = '/start'">На главную</button>