<div>
    <p class="title" id="leaderboardTitle">Таблица лидеров</p>
</div>
<table class="leaderboard">
    <thead>
        <tr>
            <th class="text" id="LBname">Имя</th>
            <th class="text" id="LBscore">Счет</th>
        </tr>
    </thead>
    {{#each items}}
    <tr>
        <td class="text" id="nameColumn">{{name}}</td>
        <td class="text" id="scoreColumn">{{score}}</td>
    </tr>
    {{/each}}
</table>
<button id="toStartButton" onclick="location.href = '/start'">Стартовое меню</button>