<div class="finalmessage">
    {{#if isVictory}}
        Поздравляем, {{username}}, ты ответил на все вопросы, ты такой cool!!!
    {{else}}
        В этот раз, {{username}}, у тебя не получилось ответить на все вопросы.
    {{/if}}
</div>
<br>
<div class="finalscore">
    Счёт: {{score}}
</div>
<br><br><br><br><br><br><br><br><br>
<button class="pageButton" onclick="location.href = '/leaderboard'">Перейти к таблице лидеров</button>
<button class="pageButton" onclick="location.href = '/start'">Перейти в стартовое меню</button>