<finalmessage id="message">
    {{#if isVictory}}
        Поздравляем, {{username}}, ты ответил на все вопросы, ты такой cool!!!
    {{else}}
        В этот раз, {{username}}, у тебя не получилось ответить на все вопросы.
    {{/if}}
</finalmessage>
<br>
<finalscore id="score">
    Счёт: {{score}}
</finalscore>
<br><br><br><br><br><br><br><br><br>
<button onclick="location.href = '/leaderboard'">Перейти к таблице лидеров</button>
<button onclick="location.href = '/start'">Перейти в стартовое меню</button>