<form class="form" method="post">
    <label class="label" for="user">
        Введите ваше имя:
        <input id="user" name="user" type="text" value="User" required>
        Введите номер вопроса с несгораемой суммой:
        <input id="milestoneLevel" name="milestoneLevel" type="number" value="1" required>
    </label>
    <input class="action" type="submit" id="startGame" value="Начать игру"/>
</form>
<button onclick="location.href = '/leaderboard'">Перейти к таблице лидеров</button>
<button onclick="location.href = '/guide'">Перейти к описанию правил</button>
