#main{
    position: absolute;
    background-image: url("../images/background.png");
    min-width: 100%;
    min-height: 100vh;
    background-position: center; text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    margin: 0;
}

button{
    background-color: #050553;
    border: 1px solid black;
    border-radius: 10px;
    border-top-color: cornflowerblue;
    color: white;
    font-size: 200%;
}


table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    border-top-color: cornflowerblue;
}

table{
    background-color: #050553;
}


td, th{
    color: white;
}

.text{
    font-size: 200%;
    color: white;
}

.title{
    color: white;
    background-color: #050553;
    border: 1px solid black;
    border-radius: 10px;
    border-top-color: cornflowerblue;
    font-size: 250%;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#question{
    position: absolute;
    width: 70%;
    height: 10%;
    bottom: 250px;
    align-items: center;
    justify-content: center;
    background-image: url("../images/quest.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#questionText{
    color: white;
    align-items: center;
    width: 60%;
}

#answers{
    position: absolute;
    width: 70%;
    height: 20%;
    bottom: 50px;
    background-position: center; text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer{
    background-color: white;
}

#score{
    background-color: white;
}

#hints{
    background-color: white;
}


#AButton, #BButton, #CButton, #DButton{
    background: transparent;
    border: none;
}

#A, #B, #C, #D{
    position: absolute;
    height: 30%;
    width: 30%;
}
#AanswerText, #BanswerText, #CanswerText, #DanswerText{
    position: absolute;
    color: white;
}

#AanswerText{
    top: 5%;
    left: 18%;
}

#BanswerText{
    top: 5%;
    left: 58%;
}

#CanswerText {
    bottom: 5%;
    left: 18%;
}

#DanswerText{
    bottom: 5%;
    left: 58%;
}

#A {
    top: 5%;
    left: 15%;
}

#B {
    top: 5%;
    right: 15%;
}

#C {
    bottom: 5%;
    left: 15%;
}

#D {
    bottom: 5%;
    right: 15%;
}


#LBname{
    width: 40vw;
    max-width: 800px;
    text-align: left;
    padding-left: 10px;
}

#LBscore{
    width: 20vw;
    max-width: 400px;
}

#nameColumn{
    text-align: left;
    padding-left: 10px;
}

#scoreColumn{
    text-align: center;
}

#leaderboardTitle{
    max-width: 600px;
    min-width: 200px;
    width: 20vw;
}

#toStartButton{
    width: 20vw;
    max-width: 600px;
    min-width: 200px;
    min-height: 120px;
    height: 5vw;
}



